customtkinter
dlib
Flask
langchain-core
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
matplotlib
numpy
ollama
openai
opencv-contrib-python
opencv-python
openpyxl
pandas
pillow
pydantic
pydantic_core
python-dotenv
requests
scipy
keras 
tensorflow
torch
torchvision
ultralytics
urllib3
winotify
mss
selenium
pywin32
win11toast
pywinauto
sounddevice
websockets
pocketsphinx
Flask
waitress
scikit-learn
pyinstaller
desktop-notifier
flask-cors
